header{
    background-color: greenyellow;
    text-align: center;
    font-size: 60px;


}
nav{
    background-color: grey;
    display: flex;
    flex-direction: colum;
}
.menu{
    display: flex;
    flex-direction: column;
}
.menuItem{
    padding-right: 10%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
}
section{
    background-color: chocolate;
}
footer{
    background-color: black;
}
aside{
    background-color: beige;
}
.container{
    display: flex;
    flex-direction: row;
}
