header{
    background-color: greenyellow;
    font-size: 10px;
    color: black;

}

.listaEducacion{
    margin-left: 1.5%;
}

aside{
    background-color: violet;
    color: white;
}

.educacion{
    background-color: brown;
    color: white;
}

section{
    text-align: right;
    margin-right: 2%;
    margin-top: -10%;
}

.habilidades{
    background-color: blue;
    color: white;
}

.titulo{
    color: yellow;
    text-decoration: underline;
    margin-left: 1.5%;
    font-weight: bold;
}

ul{
    list-style:square;
}

.listahabilidades{
    margin-left: 1.5%;
}
