header{
    background-color: greenyellow;
    font-size: 20px;
    color: black;

}

.listaEducacion{
    font-size: 15px;
    margin-left: 0%;
}

aside{
    font-size: 15px;
    background-color: violet;
    color: white;
}

.educacion{
    background-color: brown;
    color: white;
}

.cabecero{
    text-align: right;
    margin-right: 2%;
    margin-top: -10%;
    font-size: 13px;
}

.Imprimir{
    text-align: center;
}

.habilidades{
    background-color: blue;
    color: white;
}

.titulo{
    font-size: 15px;
    color: yellow;
    text-decoration: underline;
    margin-left: 2%;
    font-weight: bold;
}

.listaexp{
    font-size: 15px;
    margin-left: 0%;
}

.listahabilidades{
    font-size: 15px;
    margin-left: 0%;
}


@media  (max-width: 800px) {
    header{
        background-color: gray;
        font-size: 10px;
        color: black;
        text-align: center;
    }
   .cabecero{
        text-align: center;
        margin-right: 0%;
        margin-top: 2%;
   }
   .titulo{
        text-align: center;
        font-size: 20px;
   }
   .educacion{
        background-color: violet;
        color: white;
        font-size: 18px;
    }
    .habilidades{
        background-color: yellowgreen;
        color: white;
        font-size: 18px;
    }
    aside{
        background-color: brown;
        color: white;
        font-size: 18px;
    }
    .listaEducacion{
        margin-left: 0%;
        margin-right: 1.5%;
    }
    .listahabilidades{
        margin-left: 0%;
        margin-right: 1%;
    }
    .listaexp{
        margin-left: 0%;
        margin-right: 1%;
    }

}
